@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --popover: oklch(1 0 0);
  --popover-foreground: #2b2b2b;

  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);

  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);

  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);

  --border: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --radius: 0.85em
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --popover: #2b2b2b;
    --popover-foreground: oklch(0.985 0.002 247.839);

    --primary: oklch(0.928 0.006 264.531);
    --primary-foreground: oklch(0.21 0.034 264.665);

    --muted: oklch(0.278 0.033 256.848);
    --muted-foreground: oklch(0.707 0.022 261.325);

    --accent: #1b1b1b;
    --accent-foreground: oklch(0.985 0.002 247.839);

    --border: oklch(1 0 0 / 10%);
    --ring: oklch(0.551 0.027 264.364);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}