@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --popover: oklch(1 0 0);
  --popover-foreground: #2b2b2b;

  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);

  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);

  --creator-badge: 280 65% 60%;
  --brand-badge: 200 90% 50%;
  --category-bg: 220 60% 95%;
  --category-text: 225 59% 35%;

  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);

  --border: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --radius: 0.85em
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;

    --popover: #2b2b2b;
    --popover-foreground: oklch(0.985 0.002 247.839);

    --primary: oklch(0.928 0.006 264.531);
    --primary-foreground: oklch(0.21 0.034 264.665);

    --creator-badge: 280 60% 65%;
    --brand-badge: 200 85% 55%;
    --category-bg: 225 45% 25%;
    --category-text: 220 60% 85%;

    --muted: oklch(0.278 0.033 256.848);
    --muted-foreground: oklch(0.707 0.022 261.325);

    --accent: #1b1b1b;
    --accent-foreground: oklch(0.985 0.002 247.839);

    --border: oklch(1 0 0 / 10%);
    --ring: oklch(0.551 0.027 264.364);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-dotted-border {
  border: 3px dotted #99a1af;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


/* search layout */
.placeholder-scroll {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  /* width: 75%; */
  pointer-events: none;
  z-index: 1;
  animation: scrollText 8s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

.placeholder-item {
  height: 100%;
  display: flex;
  align-items: center;
  color: #888;
  flex-shrink: 0;
}

@keyframes scrollText {

  0%,
  20% {
    transform: translateY(0%);
  }

  25%,
  45% {
    transform: translateY(-100%);
  }

  50%,
  70% {
    transform: translateY(-200%);
  }

  75%,
  95% {
    transform: translateY(-300%);
  }

  100% {
    transform: translateY(-400%);
  }

}

.search-container input:not(:placeholder-shown)+.placeholder-scroll {
  display: none;
}

.searchbox {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 0px rgba(123, 143, 241, 0);
  animation: shadow-intro 4s ease 350ms forwards;
}

@keyframes shadow-intro {
  0% {
    box-shadow: 0 0 0px #00000000;
  }

  15% {
    box-shadow: 0 0 20px #8d7bf1;
  }

  30% {
    box-shadow: 0 0 20px #05dfd4;
  }

  60% {
    box-shadow: 0 0 20px #8d7bf1;
  }

  85% {
    box-shadow: 0 0 20px #05dfd4;
  }

  100% {
    box-shadow: 0 0 0px #00000000;
  }
}

/* SHADOW LAYER */
.searchbox::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  z-index: -1;

  box-shadow: 0 0 20px #7b8ff1;
  opacity: 0;

  animation: shadow-change 2s infinite alternate;
  transition: opacity 400ms ease;
}

/* ACTIVATE SHADOW */
.searchbox:focus-within::before {
  opacity: 1;
}

@keyframes shadow-change {
  0% {
    box-shadow: 0 0 20px #8d7bf1;
  }

  50% {
    box-shadow: 0 0 20px #05dfd4;
  }

  100% {
    box-shadow: 0 0 20px #8d7bf1;
  }
}


/* animations */

/* === iOS Push Transition === */

::view-transition-new(.slide-in) {}

::view-transition-old(.slide-out) {}

.slide-in {
  animation: SlideIn 450ms cubic-bezier(0.32, 0.72, 0, 1);
}

.slide-out {
  animation: SlideOut 450ms cubic-bezier(0.32, 0.72, 0, 1);
}

/* New page comes from right */
@keyframes SlideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

/* Old page shifts left slightly with depth */
@keyframes SlideOut {
  from {
    transform: translateX(0%) scale(1);
    opacity: 1;
  }

  to {
    transform: translateX(-30%) scale(0.98);
    opacity: 0.95;
  }
}