.slide-up {
    transform: translateY(110%);
    animation: slideUp 1s ease forwards;
}

.slide-up-opacity {
    transform: translateY(110%);
    opacity: 0;
    animation: slideUpO 1s ease forwards;
}

.slide-up-3 {
    transform: translateY(110%);
    animation: slideUp 1s ease 0.3s forwards;
}

@keyframes slideUp {
    0% {
        transform: translateY(110%);
    }

    85% {
        transform: translateY(2.5%);
    }

    95% {
        transform: translateY(1.25%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideUpO {
    0% {
        transform: translateY(110%);
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    85% {
        transform: translateY(2.5%);
    }

    95% {
        transform: translateY(1.25%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}